---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Learn More

- [Introducing Control Policies](https://controlmonkey.io/news/introducing-control-policies/)
- [Managed Policies for Security](https://controlmonkey.io/news/managed-policies-for-security/)
- [Module-Only Provisioning Policy](https://controlmonkey.io/news/module-only-terraform-provisioning-policy/)

## Example Usage
{{tffile "examples/resources/cm_control_policy/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}
## Import

`cm_control_policy` can be imported using the ID of the Control Policy, e.g.

{{codefile "shell" .ImportFile}}
{{- end }}