---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage
{{tffile "examples/resources/cm_control_policy_mappings/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}
## Import

`cm_control_policy_mappings` can be imported using the ID of the Control Policy, e.g.

{{codefile "shell" .ImportFile}}
{{- end }}