---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Learn More

- [Granular RBAC with Custom Roles](https://controlmonkey.io/news/granular-rbac-with-custom-roles-support/)
- [Attribute-Based Access Control with SSO](https://controlmonkey.io/news/attribute-based-access-control-with-controlmonkey-single-sign-on/)

## Example Usage
{{tffile "examples/resources/cm_custom_role/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}
## Import

`cm_custom_role` can be imported using the ID of the Custom Role, e.g.

{{codefile "shell" .ImportFile}}
{{- end }}