---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Learn More

- [ControlMonkey Total Cloud Resilience](https://controlmonkey.io/solution/cloud-resilience/)
- [Cloud Disaster Recovery with Terraform: Strategies That Work](https://controlmonkey.io/blog/cloud-disaster-recovery/)
- [AWS Networking DR Plan with Terraform](https://controlmonkey.io/blog/aws_networking_architecture_dr_plan/)

## Example Usage
### Default ControlMonkey Behavior for Backing Up Resources (Including Managed Resources).
{{tffile "examples/resources/cm_disaster_recovery_configuration/resource.tf"}}

### Custom Backup Strategy: Matching awsQuery Resources Pushed to a Specific path.
{{tffile "examples/resources/cm_disaster_recovery_configuration/resource2.tf"}}

### Disaster Recovery Configuration with Group-Specific Destinations (Supports All JSON Formats)
{{tffile "examples/resources/cm_disaster_recovery_configuration/resource3.tf"}}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}
## Import

`cm_disaster_recovery_configuration` can be imported using the ID of the Disaster Recovery Configuration, e.g.

{{codefile "shell" .ImportFile}}
{{- end }}