---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Learn More

- [Terraform CI/CD Showdown: DIY or Buy?](https://controlmonkey.io/blog/terraform-diy-vs-buy/)
- [Running Terraform with Jenkins: Pros and Cons](https://controlmonkey.io/blog/running-terraform-with-jenkins/)
- [Build a Terraform CI/CD Pipeline on AWS](https://controlmonkey.io/blog/terraform-ci-cd-pipeline-aws/)

## Example Usage

### Simple namespace
{{tffile "examples/resources/cm_namespace/resource.tf"}}

### Namespace that utilizes multiple AWS profiles. A specific AWS profile will be used only when the profile name is specified in the AWS provider block. Otherwise, the default profile will be used.
{{tffile "examples/resources/cm_namespace/resource2.tf"}}

### A production namespace configured with a deployment approval policy that restricts deployment permissions to specific teams.
{{tffile "examples/resources/cm_namespace/resource3.tf"}}


{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}
## Import

`cm_namespace` can be imported using the ID of the Namespace, e.g.

{{codefile "shell" .ImportFile}}
{{- end }}