---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Learn More

- [Email Alerts for IaC Events in ControlMonkey](https://controlmonkey.io/news/controlmonkey-email-alerts/)
- [Console Operations Notifications](https://controlmonkey.io/news/console-operations-notifications/)
- [Terraform Microsoft Teams Support: Real-Time Infrastructure Notifications](https://controlmonkey.io/news/teams-notification-support/)

## Example Usage
{{tffile "examples/resources/cm_notification_endpoint/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}
## Import

`cm_notification_endpoint` can be imported using the ID of the Notification Endpoint, e.g.

{{codefile "shell" .ImportFile}}
{{- end }}