---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Learn More

- [Choosing the Right IaC Platform: What Really Matters at Scale](https://controlmonkey.io/blog/choosing-the-right-iac-platform/)
- [The Era of Total Cloud Control Is Here](https://controlmonkey.io/blog/the-era-of-total-cloud-control-is-here/)

## Example Usage
{{tffile "examples/resources/cm_org_configuration/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}
## Import

`cm_org_configuration` can be imported using the ID `org-config`, e.g.

{{codefile "shell" .ImportFile}}
{{- end }}