---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Learn more

- [Introducing Stack Dependencies](https://controlmonkey.io/news/introducing-stack-dependencies/)
- [Comprehensive Overview of your Stack Dependencies](https://controlmonkey.io/news/gain-comprehensive-overview-of-your-stack-dependencies/)
- [Why Traditional CI/CD Pipelines Fail for Infrastructure](https://controlmonkey.io/blog/why-traditional-ci-cd-fail/)

## Example Usage
{{tffile "examples/resources/cm_stack_dependency/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}
## Import

`cm_stack_dependency` can be imported using the ID `sdep-123`, e.g.

{{codefile "shell" .ImportFile}}
{{- end }}