---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage
{{tffile "examples/resources/cm_stack_dependency/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}
## Import

`cm_stack_dependency` can be imported using the ID `sdep-123`, e.g.

{{codefile "shell" .ImportFile}}
{{- end }}