---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Learn More

- [Approval Policies (Teams Approval)](https://controlmonkey.io/news/approval-policy-teams-approval/)
- [Attribute-Based Access Control with SSO](https://controlmonkey.io/news/attribute-based-access-control-with-controlmonkey-single-sign-on/)

## Example Usage
{{tffile "examples/resources/cm_team/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}
## Import

`cm_team` can be imported using the ID of the Team, e.g.

{{codefile "shell" .ImportFile}}
{{- end }}